.toolbar-container {
    display: flex;
    justify-content: space-around; 

}

.budget {
   position: absolute;
   right: 2%
}
.filter-movie{
    margin: 22px;
    
}

.filter-year {
    margin-left: 10px;
}

.fa-trash:hover{
    color: rgba(104, 13, 13, 0.925);
    cursor: pointer;
}

.title-header {
    font-size: 30px;
}

.my-movies-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    margin-bottom: 15px;
    margin-top: 15px;
 }


img {
    width: 100%;
    height: 200px;
 }
        
 .movies-card {
    margin-top: 15px;
    width: 400px;
 }

 .mat-card {
     padding: 12px;
     height: 450px;
 }
.mat-card:hover{
    cursor: pointer;
 }


.my-movies-container {
    min-height: 500px;
}

.placeholder-text{
    color: whitesmoke;
    text-align: center;
    margin-top: 100px;
}
