 <div class="header">
 <app-search-bar class="private-search row" (searchChanged)="searchMovie($event)" [showselect]="showselect"></app-search-bar>
 
   <i class="fa fa-trash" *ngIf="privateMovies.length > 0" (click)="allowRemoveMovies()"></i>
  
    <app-budget></app-budget>
  </div>
  <div class="text row">
    <div class="title col-10">
      <h4 *ngIf="privateMovies.length == 0">{{title}}</h4>
      <h4 class="budget-state">{{budgetState}}</h4>
    </div>
  </div>
  
  <ul class="row">
      <div class="myMovies-flex-container">
    <app-movie class="col-3" *ngFor="let movie of privateMovies | filter : currentSearchTerm; let i = index" [movie] = "movie" [deleteMoviesFromPrivate]="deleteMoviesFromPrivate" (clickToRemoveMovie)="removeMovieFromPrivate($event)"></app-movie>
  </div>
  </ul>

  