.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .header {
    background: linear-gradient(to bottom right, rgb(240, 238, 238), rgb(133, 133, 129));
    border: thin 1px whitesmoke;
    box-shadow: 1px, 2px, 4px, 6px, rgba(0, 0, 0, 0.972);
    padding: 6px;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
  }