/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body { 
    background: url(https://www.desktopbackground.org/download/o/2013/12/05/680414_website-background-full-hd-backgrounds-vintage-red-485057_1920x1200_h.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }