<div class="fullContainer">
<div class="movie-data">
  <div class="img">
<img src="{{fullMovie.imgUrl}}">

  </div>
  <div class="movie-title">
<h4>{{fullMovie.title}}</h4>

<p> - {{fullMovie.year}}

    </p>
  </div>
  <div class="fullDesc">
    {{fullMovie.fullDescription}}
    <span
      class="credits">
 Directed by {{fullMovie.director}}</span>

</div>
<button routerLink="/">Home</button>
<button (click)="purchaseMovie(fullMovie)"routerLink="/">Purchase</button>
<!-- <ul>
  <li *ngFor="let movie of fullMovie">{{fullMovie.reviews}}</li>
</ul> -->



</div>
</div>

